<div id="page-container">
  
  <img id="burger-pic" src="/assets/images/burger-1.png" alt="pic of a burger">
  <h1 id="main-head">Eat-Da-Burger!</h1>  
  
  <div id="lists-div">
      <ol id="not-devoured">
        {{#each burgers}}
          {{#unless devoured}}
            <li><p class="burger-item" value={{ id }}>{{ burger_name }}</p><button class="devour-button" value={{ id }}>Devour!</button></li>
          {{/unless}}
        {{/each}}
      </ol>
      <ul id="devoured-column">
        {{#each burgers}}
          {{#if devoured}}
            <li><p class="burger-item-devoured" value={{ id }}>{{ burger_name }}</p></li>
          {{/if}}
        {{/each}}
      </ul>
  </div>
  
  <div id="submit-form">
    <form class="create-form">
      <div class="form-group">
        <input type="text" id="burger-input">
      </div>
      <button id="submit-button" type="button">Submit</button>
    </form>
    <p>Enter a burger you want to eat and click the "Submit" button.</p>
  </div>

</div>